* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}