div.ILMaior{
    display: flex;
    flex-direction: column;
    margin: 10vh 10vw 10vh 10vw;
    align-content: center;
    justify-self: center;
    border:  2px solid gray;
    border-radius: 5px;
    background-color: rgb(194, 139, 132);
}
div.ILMaior div.seach{
    display: flex;
    border-bottom:  2px solid gray;
    padding: 2px;
}
div.ILMaior div.seach div.inputs select{
    height: 36px;
}
div.ILMaior div.seach div.inputs input{
    height: 32px;
}
div.ILMaior label{font: normal 10pt Arial;}
div.seach img{
    background-image: url("../../_img/add2.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 36px;
    border-radius: 30px;
    border: solid 0px gray;
    background-size: 100px;
    cursor: pointer;
}
div.ILMaior div.rseach{
    display: flex;
    flex-direction: column;
    border-bottom:  2px solid gray;
}
div.ILMaior div.rseach div.rdesc{
    display: flex;
    flex-direction: row;
    flex:1;
}
div.ILMaior div.rseach div.rdesc div{
    display: flex;
    justify-content: center;
    flex:1;
}
div.ILMaior div.rseach div.rdesc label{
    text-align: center;
    font: bold 9pt Arial;
    padding: 5px 0px;
}
div.ILMaior div.rseach div.rdesc div.bend{
    border-right: gray solid 1px;
}
div.ILMaior div.rseach div.rlist div{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
}
div.ILMaior div.rseach div.rlist label{
    text-align: center;
    font: bold 9pt Arial;
    padding: 5px 0px;
}
div.ILMaior div.rseach div.rlist div.bend{
    border-right: gray solid 1px;
}
div.ILMaior div.desc{
    display: flex;
}
div.ILMaior div.desc label{
    padding: 2px;
    font: bold 10pt Arial;
}
div.ILMaior div.create{
    padding: 2px 10px ;
}
div.ILMaior div.create div.inputs{
    display: flex;
    flex-direction: row;
}
div.ILMaior div.create div.inputs input{
    flex: 1;
}
div.ILMaior div.create div.action{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
div.ILMaior div.create div.action button{
    margin-right: 5px;
    padding: 2px 5px;
}
div.ILMaior div.create div.action button.save{
    background-color: rgb(22, 197, 6);
}
div.ILMaior div.create div.action button.cancel{
    background-color: rgb(219, 21, 21);
}